{% extends 'main.html'%}

{% block content %}


<div class="container">

  <div class="row row-cols-auto">

  {% for post in posts%}
  <div class="col-md">
    <div class="card" style="width: 23rem;">
      <img src="{{post.imagen_portada.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.subtitulo}}</p>
        <a href="{% url 'post' post.id %}" class="btn btn-outline-primary">Leer Mas</a>
      </div>
    </div>
  </div>
  {% endfor %}
  

</div>

</div>
{% endblock content %}
  

  
  
  
